@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.box {
  z-index: 0;
  border-radius: 10px;
  border: 4px solid transparent;
}

.box:hover {
  border: 4px solid #0000;
  background: linear-gradient(#001F3F, #003366) padding-box,
              linear-gradient(var(--angle), #7AF6FF, #0D3B66, #F9A826) border-box;
  animation: 0.5s rotate linear infinite;
}

.box2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -0.2em;
  margin-right: -0.2em;
  border-radius: 10px;
  border: 4px solid #0000;
  background: linear-gradient(#001F3F, #003366) padding-box,
              linear-gradient(var(--angle), #FF00FF, #E01E5A, #FF4136) border-box;
  animation: 0.5s rotate linear infinite;
}

.aura, .bane, .ward {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -0.2em;
  margin-right: -0.2em;
  border-radius: 10px;
  border: 4px solid #0000;
}

.aura {
  animation: 2.5s aura-glow linear infinite;
}

.bane {
  animation: 2.5s bane-glow linear infinite;
}

.ward {
  animation: 2.5s ward-glow linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@keyframes aura-glow {
  from {
    box-shadow: 0 0 10px -10px #F9A826;
  }
  to {
    box-shadow: 0 0 10px 10px #F9D423;
  }
}

@keyframes bane-glow {
  from {
    box-shadow: 0 0 10px -10px #E01E5A;
  }
  to {
    box-shadow: 0 0 10px 10px #FF00FF;
  }
}

@keyframes ward-glow {
  from {
    box-shadow: 0 0 10px -10px #7AF6FF;
  }
  to {
    box-shadow: 0 0 10px 10px #00A4CC;
  }
}

.none {
  height: "160px";
  width: "115px";
  background-color: "#001F3F";
  border-radius: "10px";
  border: 4px solid transparent;
}
