.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background: radial-gradient(ellipse at center, #0D3B66 0%, #001F3F 100%);
  color: #E0E0E0;
}

.canvas {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.centerCanvas {
  display: flex;
  height: 100vh;
  width: 60%;
  max-width: 880px;
  flex-direction: column;
  align-items: center;
}

.rightSideCanvas {
  width: 20vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.leftSideCanvas {
  width: 20vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* medium - tablet styles */
@media screen and (max-width: 1000px) {
  .centerCanvas {
    display: flex;
    height: 100vh;
    width: 100vw;
    max-width: 880px;
    flex-direction: column;
    align-items: center;
  }
  .rightSideCanvas {
    display: none;
  }
  .leftSideCanvas {
    display: none;
  }
}
